input {
  border-bottom: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
.card-panel {
    border-radius: 20px;
    padding: 50px;


}

.main-header {
  background: url(img/BG.png);
  background-size: cover;
  background-position: center;
  min-height: 750px;
  color: #fff;
}
  
  .main-header .showcase {
    padding-top: 100px;
  }

  #pfield, #ufield{
    border-radius: 20px;
    width: 100% auto;
    padding: 10px;
  }

  #pfield > input, #ufield > input {
    height: unset !important;
    border-radius: 20px;
    margin-bottom: 0;
  }


  .login {
    margin-bottom: 80px; 
    margin-top: 80px;

  }
  #footer{
    bottom: 0;
    width: 100%;
    position: fixed;
}



  



  .btn-extended {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    box-shadow: grey;
    border-radius: 20px;

}

#forgot{
  margin-top: 15px;
  margin-bottom: 15px;
  display: block; 
}
